<h1>This is the index view for Categories</h1>
<% @categories.each do |category| %>
  <div>
    <h3><%= link_to category.title, category %></h3>
          <p>Published on <%= category.created_at.strftime('%b %d, %Y') %></p>
    <p>Filed under: <% category.categories.each do |category| %>
                      <%= link_to category.name, category %>&nbsp;
                    <% end %>
    </p>
    <p><%= truncate(category.content, length: 200) %></p>
  </div>
<% end %>